
.main-title{

    color: seagreen;
 }  
.main-subtitle{

    color: slategrey;
}   
.post{

    color: black;
    background-color: brown;

}   
#firstPostTitle{

font-size: 50px;

}
    